*{
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

nav{
  background-color: grey;
  height: 7rem;
}

.background{
    background-color: grey;
    height: 25rem;
    margin-top: 2rem;
}


.content section{
 padding-top: 4rem;
 padding-left: 9rem;
 display: inline-flex;
 gap: 4rem;
}

.circle{
    height: 14rem;
    width: 14rem;
    background-color: grey;
    border-radius: 100%;
    
}

.Square{
    border-radius: 1px;
}

@media screen and (max-width:768px) {
   

   

    .content{
        background-color: transparent;
      
    }

    .content section{
        display: inline-grid;
        padding-left: 4rem;
        background-color: transparent;
    }

    /* .circle{
        width: 12rem;
        height: 12rem;
    } */
}


footer{
    background-color: grey;
    height: 7rem;
    margin-top: 1rem;
  }

